.totalcases__grid {
  display: flex;
}
.totalcases__grid__item {
  display: flex;
  flex: 1;
  border-width: 2px;
  border-style: solid;
  padding: 0.5em;
  margin: 0.2em;
  border-radius: 1em;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: center;
  height: 100px;
}
